body{
	font-family: "microsoft yahei";
	background: #000;
	color: #fff;
}
.top{
	background: url('../img/bg-image.jpg') no-repeat left top;
	background-size: contain;
	margin-bottom: 140px;
}
nav span{
	background: #337ab7;
}
a{
	color: #fff;
}
a:hover{
	text-decoration: none;
}
.nav>li>a:focus,
.nav>li>a:hover{
	background-color: transparent;
}
.navbar{
	margin: 0 auto;
}
.navbar-brand{
	padding-top: 28px;
}
.navbar-collapse{
	padding-right: 0;
}
.nav>li>a{
	padding: 28px 0 28px 40px;
	font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;	
}
.main{
	margin-top: 200px;
}
.title a{
	font-size: 18px;
	padding:10px;
}
.main h1{
	font-size: 20px;
	margin: 18px 0 100px;
}
.main h2{
	font-size: 22px;
	padding: 30px 0 30px 26px;
	border: 1px solid #fff;
	position: relative;	
}
.main h2 small{
	color: #fff;
	padding-left: 10px;
	vertical-align: middle;
}
.main h2 span{
	position: absolute;
	width: 8px;
	height: 30px;
	border: 1px solid #fff;
	top: 50%;
	margin-top: -15px;
}
#left{
	left: -1px;
	border-left-color: #000;
}
#right{
	right: -1px;
	border-right-color: #000;
}
.main p{
	font-size: 20px;
}
.main div.row{
	border-bottom: 1px solid #fff;
	padding-bottom: 40px;
	margin-top: 40px;
}
.main div.row h3{
	font-size: 22px;
	margin-top: 0;
}
.main div.row p{
	font-size: 16px;
	margin: 16px 0 25px;
}
.main div.row span{
	font-size: 14px;
}
.tab-img>div{
	position: relative;
}
.tab-img>div a{
	position: absolute;
	bottom: 10px;
	left: 35px;
	font-size: 18px;
}
#myTab{
	border-color: transparent;
	text-align: center;
}
#myTab li{
	float: none;
	display: inline-block;
	margin-top: 40px;
}
#myTab a{
	padding: 3px 8px;
	color: #222;
	background: #e4e4e4;
	border-radius: 0;
	font-weight: bold;
	margin: 5px;
}
.footer{
	padding: 30px 0;
}
.footer p{
	font-size: 16px;
	color: #656565;
} 